.menu {
  position: fixed;
  top: 0;
  right: 3.5%;
  z-index: 0;
}

.mobileMenuContainer {
  position: fixed;
  z-index: 0;
  top: 0;
  height: 68px;
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
}

.navBtn {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: text-decoration-color 300ms !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.navBtn:hover,
.navBtn:focus,
.navBtn:active {
  text-decoration-color: #97dffc;
  background-color: transparent;
}

.navBtn.dark:hover,
.navBtn.dark:focus,
.navBtn.dark:active {
  text-decoration-color: #121212;
}
