@import url("https://fonts.googleapis.com/css?family=Parisienne");
@import url("https://fonts.googleapis.com/css?family=Poppins");

.navbar {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list > * {
  margin: 1rem;

  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.list > *:hover {
  background-color: #00704a;
  color: white;
}

.search > input {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.search {
  border: 1px solid #00704a;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 3px 3px 4px #aaa;
}

.logo {
  font-size: 45px;
  text-decoration: none;
  margin: 10px;
  font-family: "Parisienne", cursive;
}

.logo > span {
  color: #00704a;
}
